<!--Para ponerlo en una columna y centrarlo-->
<!--.col-md-4.mx-auto-->
<div class="col-md-4 mx-auto">
<!--.card>.card-body y Tab-->
    <div class="card">
        <!--.card-header y Tab-->
        <div class="card-header">
            <h1>New Staging</h1>
        </div>
        <div class="card-body">
            <form action="/stagings/new-staging" method="POST">
                <!--.form-group y tab-->
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="hour" class="form-control" placeholder="Hour">
                </div>
                <div class="form-group">
                    <select class="form-control" name="theater" class="form-control" placeholder="Theater">
                        <option>Foro Shakespeare</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>