<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Este sitio es para entregar Recompensas a los clientes leales que adquieren boletos
            en nuestra red de Teatros.
        </p>
    </div>
</div>