<div class="jumbotron mt-2">
    <h1 class="display-4">Recompensas Teatros Ciudad de Mexico</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, modi? Omnis quas officiis qui, quam non 
        aliquam in ullam laborum eum architecto sapiente, eos necessitatibus vel doloremque tempora unde ad.</p>
    <a href="https://www.foroshakespeare.com/" class="btn btn-primary btn-lg">Foro Shakespeare</a>    
</div>