<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Account Login</h3>
            </div>
            <img src="/img/fsh.jpeg" alt="Foro Shakespeare" class="rounded-circle mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Signin</button>
                    </div>
                    <a href="#">Forget your Password?</a>
                </form>
            </div>
        </div>
    </div>
</div>